<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/loginPage.js"></script>
</head>
<body>
<div>
    <span>用户名:</span>
    <input id="user-input" placeholder="请输入用户名"/>
</div>
<div>
    <span>密码：</span>
    <input id="passwd-input" placeholder="请输入密码" type="password"/>
</div>
<div>
    <button id="login-btn">登   录</button>
</div>
</body>
</html>